# Copyright (C) 2023 The TrebleDroid Project
#
#

# Add vendor charger init
import /vendor/etc/init/${ro.bootmode}/init.${ro.bootmode}.rc

service charger /system/bin/charger
    class charger
    user root
    group system root shell graphics input wakelock
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

on charger && property:ro.hardware=mt*
    write /sys/class/leds/lcd-backlight/trigger "backlight"
    write /sys/class/android_usb/android0/enable 1
